body {
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    margin-top: 5%;
    margin-bottom: 20%;
    margin-left: 20%;
    margin-right: 20;
}
.chat-box {
    width: 400px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.messages {
    height: 300px;
    overflow-y: scroll;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
.heading {
    align-content: center;
}
p{
    font-size: 20px;;
    font-style: italic;
    color: rgb(112, 98, 98);
}
.message {
    margin: 5px 0;
}
.user {
    font-weight: bold;
}
.input-box {
    display: flex;
}
.input-box input {
    flex: 1;
    padding: 5px;
    margin-right: 5px;
    border-color: aquamarine;
}
.input-box button {
    padding: 5px 10px;
    background-color: rgb(97, 245, 97);
}
